
body{
    background-image: url('../img/cardboard.png');
}
.jumbotron {
    background-color: #0984D6;
    color: white;
}
.panel-heading{
     background-color: #0984D6 !important;
    color: white !important;
}
.panel-body{
    color:#2b2b2b !important;
}
.navbar{
    background-color: #2b2b2b;
}
.navbar-brand:link, .navbar-brand:visited {
    color:deepskyblue !important;
}
.navbar-brand:hover, .navbar-brand:active{
    color: white !important;
}
#navbar li a:link, #navbar li a:visited{
    color: white !important;
}
#navbar li a:hover, #navbar li a:active{
    color:deepskyblue !important;
}
.dropdown-menu{
    background-color: #2b2b2b;
}
.open > a{
    background-color: #2b2b2b !important;
}
    